.pie{
    display: flex;
    flex-direction: column;
    height: 140px;
}
.pie2{
    height: 200px;
    margin-left: 40px;
}
@media screen and (max-width: 992px) {
    .pie2{
      height:170px;
        
        column-gap: 2.5rem;
    }
    .pie{
        height: 130px;
    }
    
  }